/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}

.overview-hero .container {
    background-color: #f4f4f4;
    padding: 20px 0;
    display: flex;
    align-items: center;       
    justify-content: space-between; 
}

.overview-hero-image {
    flex: 1;                  
    margin-right: 20px;        
}

.overview-hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.overview-hero-text {
    flex: 1;                  
    text-align: left;
}

