/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
header {
    background-color: white;
    font-size: 18px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li {
    margin-left: 20px;
}
nav ul li a {
    color: #6b7280;
}
nav ul li a:hover {
    color: #5A67D8;
}

.overview-hero {
    padding : 20px 0;
    background-color:#E2E8F0;
}
.overview-hero .container {
    padding: 20px 0;
    display: flex;
    align-items: center;       
    justify-content: space-between; 
}

.overview-hero-image {
    flex: 1;                  
    margin-right: 20px;        
}

.overview-hero-image img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.overview-hero-text {
    flex: 1;                  
    text-align: left;
}

.learn-about .container{
    padding: 20px 0;
    margin: 0 auto;

}

.learn-about .cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.learn-about .card{
    flex: 1 ; 
    border: 1px solid #E2E8F0; 
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: #f9f9f9;
    text-align: center;
}

.learn-about .card h3{
    color: #48BB78;
    font-size: 21px;
}

.learn-about .card img{
    max-width: 100%;
    height: 300px;
    display: block;
    border-radius: 8px;
}

.learn-about h2{
    font-size: 24px;
    color: #48BB78;

}

.testing {
    background-color: #4A5568;
    color: white;
    padding: 20px 0;
}
.testing .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.testing-desciption{
    flex: 1;                  
    margin-right: 20px;        
}
.testing .cta {
    flex: 1;
    text-align: right;                  
}
.testing .cta .btn {
    align-items: right;
    margin-left: auto;
    display : inline-block;
    padding: 10px 20px;
    background-color: #48BB78;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.stories {
    padding: 20px 0;
    background-color: white;
}
.stories .container{
    background-color: white;
    align-items: center;
    padding: 20px 0;

}
.stories h2{
    color: #5A67D8;
}

.stories a{
    color : #5A67D8;
    text-decoration: none;
}

.stories h3{
    font-size: 18px;
}

.stories article {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    background-color: #f4f4f4;
    border-radius: 8px;
    overflow: hidden;
}

.stories article img {
    width: 40%;
    height: 300px;
    border-radius: 50%;
}

.stories .article-body {
    padding: 15px;
    flex: 1;
}

.newsletter {
    background-color: #48BB78;
    color: white;
    padding: 20px 0;
    text-align: center;      
    display: flex;            
    flex-direction: column;   
    align-items: center;      
}

form {
    display: flex;            
    gap: 15px; 
    max-width: 600px;         
    width: auto;  
    margin: 0 auto;            
}


.form-group{
    flex: 1;
}

.form-group input[type="email"] {
    width: 100%;           
    padding: 10px;
}

form .btn {
    background-color: #5A67D8;
    margin-left: 20px;
    flex: 0;                
    padding: 10px 20px;
}

footer{
    background-color: #4A5568;
    color: white;
    text-align: center;
    padding: 10px 0;
}
